<h2 class="ui center aligned icon header">
  <i class="inverted olive user circle icon"></i>
  Forum
</h2>
<div class="ui two column grid">  

  <div class="four wide column">
    <div class="ui vertical menu">
      <a class="item">
        <h4 class="ui header">Promotions</h4>
        <p>Check out our new promotions</p>
      </a>
      <a class="item">
        <h4 class="ui header">Coupons</h4>
        <p>Check out our collection of coupons</p>
      </a>
      <a class="item">
        <h4 class="ui header">Rebates</h4>
        <p>Visit our rebate forum for information on claiming rebates</p>
      </a>
    </div>
  </div>



  <div class="twelve wide column"> 
    <div class="ui small feed">
      <div class="event">
        <div class="label">
          <img src="/images/avatar/small/elliot.jpg">
        </div>
        <div class="content">
          <div class="summary">
            <a class="user">
              Elliot Fu
            </a> added you as a friend
            <div class="date">
              1 Hour Ago
            </div>
          </div>
          <div class="meta">
            <a class="like">
              <i class="like icon"></i> 4 Likes
            </a>
          </div>
        </div>
      </div>
      <div class="event">
        <div class="label">
          <img src="/images/avatar/small/helen.jpg">
        </div>
        <div class="content">
          <div class="summary">
            <a>Helen Troy</a> added <a>2 new illustrations</a>
            <div class="date">
              4 days ago
            </div>
          </div>
          <div class="extra images">
            <a><img src="/images/wireframe/image.png"></a>
            <a><img src="/images/wireframe/image.png"></a>
          </div>
          <div class="meta">
            <a class="like">
              <i class="like icon"></i> 1 Like
            </a>
          </div>
        </div>
      </div>
      <div class="event">
        <div class="label">
          <img src="/images/avatar/small/jenny.jpg">
        </div>
        <div class="content">
          <div class="summary">
            <a class="user">
              Jenny Hess
            </a> added you as a friend
            <div class="date">
              2 Days Ago
            </div>
          </div>
          <div class="meta">
            <a class="like">
              <i class="like icon"></i> 8 Likes
            </a>
          </div>
        </div>
      </div>
      <div class="event">
        <div class="label">
          <img src="/images/avatar/small/joe.jpg">
        </div>
        <div class="content">
          <div class="summary">
            <a>Joe Henderson</a> posted on his page
            <div class="date">
              3 days ago
            </div>
          </div>
          <div class="extra text">
            Ours is a life of constant reruns. We're always circling back to where we'd we 
            started, then starting all over again. 
          </div>
          <div class="meta">
            <a class="like">
              <i class="like icon"></i> 5 Likes
            </a>
          </div>
        </div>
      </div>
      <div class="event">
        <div class="label">
          <img src="/images/avatar/small/justen.jpg">
        </div>
        <div class="content">
          <div class="summary">
            <a>Justen Kitsune</a> added <a>2 new photos</a> of you
            <div class="date">
              4 days ago
            </div>
          </div>
          <div class="extra images">
            <a><img src="/images/wireframe/image.png"></a>
            <a><img src="/images/wireframe/image.png"></a>
          </div>
          <div class="meta">
            <a class="like">
              <i class="like icon"></i> 41 Likes
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>