<div class="ui olive large inverted menu">
  <div class="ui container">
    <a class="item">
    <i class="home icon"></i>Home
    </a>
    <a class="item">
    <i class="gamepad icon"></i>Messages
    </a>
    <a class="item">
    <i class="gamepad icon"></i>Friends
    </a>
    <div class="right menu">
      <div class="ui dropdown item">
        dropdown <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item">droplist 1</a>
          <a class="item">droplist 2</a>
        </div>
      </div>

      <div class="item">
        <div class="ui grey button">Sign Up
        </div>
      </div>
    </div>
  </div>
</div>

